.skills-track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.skills-track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
