@import "tailwindcss";
@import "./styles/theme.css";

@theme {
  /* Backgrounds */
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-secondary: var(--secondary-dark);
  --color-card: var(--card-bg);

  /* Text */
  --color-heading: var(--heading);
  --color-sub-heading: var(--sub-heading);
  --color-body: var(--body);

  /* Accent */
  --color-accent: var(--primary-accent);

  /* Borders */
  --color-border: var(--border);
  --color-border-hover: var(--border-hover);

  /* Buttons */
  --color-button: var(--btn-bg);
  --color-button-text: var(--btn-text);
  --color-button-border: var(--btn-border);
  --color-button-hover: var(--btn-hover);
}

html {
  scroll-behavior: smooth;
}
